$main-color-white: #ffffff;
$transpered-white: rgba(255, 255, 255, 0.6);
$bg-color-light-blue: #bcc4d4;
$bg-color-superlight-blue: #d5ddeb;
$bg-color-blue: #97a8c9;
$bg-color-mid-blue: #576b8f;
$bg-color-dark-blue: #45526b;
$bg-color-grey: #474d59;